<h2>Book</h2>
<div>
    <div class="container">
        <div class="card-group">
            <div class="card" style="width:100px" *ngFor="let book of bookModel">
                <div class="h-100">
                    <img class="card-img-top img-fluid" [src]="book.urlImage" alt="Card image">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{book.tittle}}</h4>
                    <p class="card-text">{{book.author}} / Price: $ {{book.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>